@{
    ViewBag.Title = "OrdersList";
}
<p>
    <img src="~/Content/lucci_logo.jpg" alt="lucci logo" height="50" width="100" />
    Quản lí đơn hàng
</p>
<h2><u>DANH SÁCH ĐƠN HÀNG</u></h2>
<table class="table table-bordered">
    <tr class="active">
        <th>Stt</th>
        <th>Ngày/Giờ</th>
        <th>Sản phẩm</th>
        <th>SL</th>
        <th>Thành tiền</th>
        <th>Địa chỉ</th>
        <th>Sđt</th>
        <th>Trạng thái</th>
    </tr>
    <tr>
        <td>1</td>
        <td>22/1/2020 7:00PM</td>
        <td>-Quần jean(XL)<br />-Áo thun tay dài(M)</td>
        <td>1<br />2</td>
        <td>900.000VNĐ</td>
        <td>1128/34A phường An Phú Đông, Quận 12</td>
        <td>0987654321</td>
        <td>chưa xác nhận</td>
    </tr>
    <tr class="active">
        <td>2</td>
        <td>22/1/2020 8:00AM</td>
        <td>-Áo sơ mi nam họa tiết(S)<br />-Áo nỉ nam(L)</td>
        <td>2<br />4</td>
        <td>960.000VNĐ</td>
        <td>13 Nguyễn Trường Tộ phường 4 quận 4</td>
        <td>0168723409</td>
        <td>xác nhận</td>
    </tr>
    <tr>
        <td>3</td>
        <td>23/1/2020 11:29AM</td>
        <td>-Chân váy nữ(S)<br />-Váy liền nữ(S)</td>
        <td>1<br />1</td>
        <td>500.000VNĐ</td>
        <td>41 Nguyễn Thái Sơn phường 5 quận Gò Vấp</td>
        <td>0978654321</td>
        <td>xác nhận</td>
    </tr>
    <tr class="active">
        <td>4</td>
        <td>27/1/2020 0:00AM</td>
        <td>-Quần short nam(M)<br />-Áo Polo nam(M)</td>
        <td>1<br />2</td>
        <td>1.570.000VNĐ</td>
        <td>78 Dương Quãng Hàm phường 12 quận Gò Vấp</td>
        <td>0876123940</td>
        <td>chưa xác nhận</td>
    </tr>
</table>
<button type="button" class="btn btn-default active">Xóa</button>

