@{
    ViewBag.Title = "OrderInformation";
}

<h2><u>THÔNG TIN ĐƠN HÀNG</u></h2>
<table class="table table-striped">
    <tr>
        <th>Sản phẩm</th>
        <th>SL</th>
        <th>Giá</th>
        <th>Thành tiền</th>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td><img src="~/Content/áo_sơ_mi_nam.jpg" height="100" width="100" alt="áo sơ mi nam" /></td>
                    <td>Áo sơ mi nam <br />Size : M<br />Màu xám</td>
                </tr>
            </table>
        </td>
        <td>1</td>
        <td>490.000VNĐ</td>
        <td>490.000VNĐ</td>
    </tr>
    <tr>
        <th>Tổng</th>
        <td></td>
        <td></td>
        <td><b>490.000VNĐ</b></td>
    </tr>
</table>

