@{
    ViewBag.Title = "OrderConfirmation";
}

<p>
    <img src="~/Content/lucci_logo.jpg" alt="lucci logo" height="50" width="100" />
    Quản lí đơn hàng
</p>
<h2><u>Xác nhận đơn hàng</u></h2>
<h6>Chi tiết đơn hàng</h6>
<table class="table table-striped">
   <tr>
       <td>-Quần jeans(XL)</td>
       <td>500.000 x1</td>
       <td>500.000VNĐ</td>
   </tr>
    <tr>
        <td>-Áo thun tay dài(M)</td>
        <td>450.000 x2</td>
        <td>900.000VNĐ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>1.400.000VNĐ</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Phí vận chuyển: 20.000VNĐ<br /> Tổng: 1.420.000VNĐ</td>
    </tr>
</table>

