
@{
    ViewBag.Title = "ShipmentDetails";
}

<h2><u>THÔNG TIN GIAO HÀNG</u></h2>
<form>
    <div class="form-group">
        <label for="exampleInputFullname">Họ & tên</label>
        <input type="text" class="form-control" id="exampleInputFullname" placeholder="Fullname">
    </div>
    <div class="form-group">
        <label for="exampleInputPhoneNumber">Điện thoại</label>
        <input type="text" class="form-control" id="exampleInputPhoneNumber" placeholder="Phonenumber">
    </div>
    <div class="form-group">
        <label for="exampleInputProvince">Tỉnh thành</label>
        <input type="text" class="form-control" id="exampleInputProvince" placeholder="Province">
    </div>
    <div class="form-group">
        <label for="exampleInputDistrict">Quận / huyện</label>
        <input type="text" class="form-control" id="exampleInputDistrict" placeholder="District">
    </div>
    <div class="form-group">
        <label for="exampleInputAddress">Địa chỉ</label>
        <input type="text" class="form-control" id="exampleInputAddress" placeholder="Address">
    </div>
</form>
<button type="button" class="btn btn-default active">Xác nhận đặt hàng</button>